.custom-table-container {
    margin: 5% 3%;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse; /* Ensure borders don't have gaps between them */
  }
  
  .mat-header-cell, .mat-cell {
    border: 1px solid #ddd; /* Add border to each cell */
    text-align: left;
    padding: 10px;
  }
  
  .mat-header-cell {
    background-color: black;
    color: white;
    font-weight: bold;
  }
  
  .custom-row:nth-child(odd) {
    background-color: #f5f5f5;
  }
  
  .custom-row:nth-child(even) {
    background-color: #ffffff;
  }
  
  .custom-row:hover {
    background-color: #e0e0e0;
  }
  
  .custom-paginator {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .custom-paginator .mat-paginator-previous,
  .custom-paginator .mat-paginator-next {
    color: #3f51b5;
  }
  
  .custom-paginator .mat-paginator-range-label {
    margin: 0 20px;
  }