<div>
    <app-nav-bar class="top"></app-nav-bar>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" style="margin-top: 5%;" matSort>
  
    <ng-container matColumnDef="invoiceId">
      <th mat-header-cell *matHeaderCellDef> Invoice ID </th>
      <td mat-cell *matCellDef="let element"> {{element.invoiceId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="invoiceDate">
      <th mat-header-cell *matHeaderCellDef> Invocie Date </th>
      <td mat-cell *matCellDef="let element"> {{formatDate(element.invoiceDate)}} </td>
    </ng-container>
  
    <ng-container matColumnDef="vendorName">
      <th mat-header-cell *matHeaderCellDef> Vendor Name </th>
      <td mat-cell *matCellDef="let element"> {{element.vendorName}} </td>
    </ng-container>

    <ng-container matColumnDef="brandName">
      <th mat-header-cell *matHeaderCellDef> Brand Name </th>
      <td mat-cell *matCellDef="let element"> {{element.brandName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>
  
    <ng-container matColumnDef="productSize">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.productSize}} </td>
    </ng-container>
  
    <ng-container matColumnDef="productQuantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.productQuantity}} </td>
    </ng-container>

    <ng-container matColumnDef="expirationDate">
      <th mat-header-cell *matHeaderCellDef> Expiration Date </th>
      <td mat-cell *matCellDef="let element"> {{formatDate(element.expirationDate)}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

  
  